{% extends "base.html" %}
{% block title %}博文编辑{% endblock %}
{% block css %}
<link href='/static/css/prism.css' rel='stylesheet'>
<link href='/static/css/article.css' rel='stylesheet'>
<script type="text/javascript">
function EditFun(act){

}

function DelFun(act){
  var str = '/delete/'+ act;
  if(confirm("确认删除该条博客？")){
    window.location.href = str;
  }
  else{
    return;
  }


}
</script>
{% endblock %}

{% block content %}
        <!--start main content aera-->
        <div class="col-md-12  main-content">
			<div class="post">
<table class="table table-bordered table-hover" >
   <thead>
      <tr>
         <th>标题</th>
         <th>时间</th>
         <th>操作</th>
      </tr>
   </thead>
   <tbody>
   {% for article in articles %}
      <tr>

          <td>{{article.title}}</td>
          <td>{{article.times}}</td>
          <td>
		            <button type="button" class="btn btn-default" onclick="EditFun({{article.id}})" disabled="disabled">修改</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		            <button type="button" class="btn btn-danger" onclick="DelFun({{article.id}})">删除</button>
          </td>
      </tr>
   {% endfor %}
   </tbody>
</table>
			</div>
		</div>
		
{% endblock %}