{% extends "user/register_base.html" %}
{% block title %}用户注册{% endblock %}
{% block js %}
<script type="text/javascript">
  function checkPass() {
    var passEl = $('#inputPassword')
    var passReEl = $('#inputPasswordRe')
    if (passEl.val() !== passReEl.val()){
      passEl.val('')
      passReEl.val('')
      passEl.focus()
      $('.alert').show()
    }
  }
</script>
{% endblock %}
{% block content %}
<div class="alert alert-warning" role="alert" style="display: none;">两次密码输入不一致</div>
<div style="text-align: center">
  <form name="form1" action="" method="POST" class="form-signin">
    <h2 class="form-signin-heading">用户注册</h2>
    <label for="inputUser" class="sr-only">用户名</label>
    <input
      type="text"
      id="inputUser"
      name="username"
      class="form-control"
      placeholder="用户名"
      required
      autofocus
      style="margin-bottom: 10px;"
    />
    <label for="inputPassword" class="sr-only">密码</label>
    <input
      type="password"
      id="inputPassword"
      name="password"
      class="form-control"
      placeholder="密码"
      required
    />
    <label for="inputPasswordRe" class="sr-only">确认密码</label>
    <input
      type="password"
      id="inputPasswordRe"
      name="repassword"
      class="form-control"
      placeholder="确认密码"
      required
      onblur="checkPass()"
    >
    <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
  </form>
</div>
{% endblock %}